{% extends "network/layout.html" %} {%load static%} {% block body %}
<div class="user-profile">
  <h1 class="user-profile-name">@{{ user_individual }}</h1>
  <h4 class="user-profile-followers">Followers: {{ numberofFollowers }}</h4>
  <h4 class="user-profile-following">Following: {{ numberofFollowing }}</h4>
  {% if user_individual != currentUser %}
  <form
    method="post"
    action="{% url 'follow' id=user_individual.id %}"
    class="form-follow-btn"
  >
    {% csrf_token %}
    <button
      class="follow-btn {% if button == 'Follow' %}follow-btn-follow{% else %}follow-btn-unfollow{% endif %}"
      type="submit"
    >
      {{ button }}
    </button>
  </form>

  {% endif %}
</div>

<div class="post-content">
  {% for post in posts %}
  <div class="individual-post">
    <form
      method="post"
      action="{% url 'post_individual' post_id=post.id %}"
      class="btn-save-edit-form"
    >
      {% csrf_token %}
      <h6 class="user-and-time">
        Posted by:
        <strong
          ><a
            href="{% url 'individual' id=post.user.id %}"
            id="user-{{ post.user.id }}"
            >@{{ post.user }}</a
          ></strong
        >
      </h6>
      <h6 class="user-and-time">
        Timestamp: <strong>{{ post.timestamp }}</strong>
      </h6>
      <div class="individual-post-content">
        <textarea class="post-text" name="post-text-edited" disabled>
{{post.post}}</textarea
        >
      </div>
      <div class="likes-and-edit">
        {% if post.id in whatYouLiked %}
        <p
          class="likes likes-liked"
          data-postid="{{post.id}}"
          data-whatYouLiked="{{whatYouLiked}}"
        >
          &#9829;
        </p>
        {% else %}
        <p
          class="likes likes-unliked"
          data-postid="{{post.id}}"
          data-whatYouLiked="{{whatYouLiked}}"
        >
          &#9829;
        </p>
        {% endif %}
        <p class="like-number">number</p>
        {% if post.user == currentUser%}
        <button class="btn-edit-content">Edit</button>
        <button class="btn-save-edit">Save</button>
        <button class="btn-cancel-edit">Cancel</button>
        {% endif %}
      </div>
    </form>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  <span class="step-links">
    {% if posts.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ posts.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current-page">
      Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
    </span>

    {% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">next</a>
    <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{% endblock %}
<!-- {% block script %}
<script src="{% static 'network/individual.js' %}"></script>
{% endblock %} -->
