{% extends "network/layout.html" %} {%load static%} {% block body %}
<div class="user-profile">
  <h1 class="user-profile-name">{{ user_individual }}</h1>
  <h4 class="user-profile-followers">Followers:</h4>
  <h4 class="user-profile-following">Following:</h4>
  {% if user_individual != currentUser %}
  <button
    class="follow-btn"
    type="submit"
    action="{% url 'follow' id=user_individual.id %}"
  >
    Follow
  </button>
  {% endif %}
</div>
<div class="post-content">
  {% for post in posts %}
  <div class="individual-post">
    <h6 class="user-and-time">
      Posted by:
      <strong
        ><a
          href="{% url 'individual' id=post.user.id %}"
          id="user-{{ post.user.id }}"
          >{{ post.user }}</a
        ></strong
      >
    </h6>
    <h6 class="user-and-time">
      Timestamp: <strong>{{ post.timestamp }}</strong>
    </h6>
    <div class="individual-post-content">
      <p>{{ post.post }}</p>
    </div>
    <p class="likes">&#9829;</p>
    <p class="like-number">number</p>
  </div>
  {% endfor %}
</div>

{% endblock %}
<!-- {% block script %}
<script src="{% static 'network/individual.js' %}"></script>
{% endblock %} -->
